<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
    <link rel="stylesheet"  href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <!--header-->
    <!--<div class="head"><h1 align="center">MOBILE COMPARISION</h1></div>-->
    <table border="0" width="100%" bgcolor="aqua">
        <tr>
            <th width="63%" align="right"><font size="6">MOBILE COMPARISION<font></th>
            <td align="right"><a href="{{url_for('login')}}">Logout</a></td>
        </tr>
    </table>
    <br><br>
    <!--form-->
<form action="/compare" method="POST">
  <div class="search">
        <div>
    <label>PRODUCT1:</label>
    <input type="text" name="search_query1" id="textbox1" placeholder="search1" size="50" required>
        </div>
        <div>
    <label>PRODUCT2:</label>
    <input type="text" name="search_query2" id="textbox2" placeholder="search2" size="50" required>
        </div>
  </div><br><br>
        <div class="search">
        <h1></h1>
        <button type="submit" class="button" onclick="fetchData()">COMPARE</button>
        <h1></h1>
        </div>


    <!--Loading Animation-->
    <br><br>
    <div class="loader" id="loader"></div>
    <br><div class="content" id="content">Please Wait...</div>
    <br><!--suggestion-->
    <br><br>

<div id="result">
   
    <!--result table-->
    {% if data1 and data2 %}


<!--IMAGES-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>IMAGES</b></font></div>
    </div>
    <div style="display: flex;justify-content: space-around;">
        <div><table border="2" style="border-collapse: collapse;width:10.5cm;"><tr><td><center><img src="{{img1}}" width="200px" height="300px"></center></td></tr><tr><td><center><h1>{{data1['phoneDetails']['brandValue']}} {{data1['phoneDetails']['modelValue']}}</h1></center></td></tr></table></div>
        <div><table border="2" style="border-collapse: collapse;width:10.5cm;"><tr><td><center><img src="{{img2}}" width="200px" height="300px"></center></td></tr><tr><td><center><h1>{{data2['phoneDetails']['brandValue']}} {{data2['phoneDetails']['modelValue']}}</h1></center></td></tr></table></div>
    </div>

<!--SUGGEST-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>SUGGEST</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td><h2>{{suggest}}</h2></td>
        </tr>
    </table>



<!--NETWORK -->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>NETWORK</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Technology</b></td>
            <td width="25%">{{data1['gsmNetworkDetails']['networkTechnology']}}</td>
            <td width="25%">{{data2['gsmNetworkDetails']['networkTechnology']}}</td>
        </tr>
    </table>
<!--LAUNCH-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>LAUNCH</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Announced</b></td>
            <td width="25%">{{data1['gsmLaunchDetails']['launchAnnounced']}}</td>
            <td width="25%">{{data2['gsmLaunchDetails']['launchAnnounced']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Status</b></td>
            <td>{{data1['gsmLaunchDetails']['launchStatus']}}</td>
            <td>{{data2['gsmLaunchDetails']['launchStatus']}}</td>
        </tr>
    </table>
<!--BODY-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>BODY</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Dimensions</b></td>
            <td width="25%">{{data1['gsmBodyDetails']['bodyDimensions']}}</td>
            <td width="25%">{{data2['gsmBodyDetails']['bodyDimensions']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Weight</b></td>
            <td>{{data1['gsmBodyDetails']['bodyWeight']}}</td>
            <td>{{data2['gsmBodyDetails']['bodyWeight']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Build</b></td>
            <td>{{data1['gsmBodyDetails']['bodyBuild']}}</td>
            <td>{{data2['gsmBodyDetails']['bodyBuild']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>SIM</b></td>
            <td>{{data1['gsmBodyDetails']['bodySim']}}</td>
            <td>{{data2['gsmBodyDetails']['bodySim']}}</td>
        </tr>
    </table>
<!--DISPLAY-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>DISPLAY</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Type</b></td>
            <td width="25%">{{data1['gsmDisplayDetails']['displayType']}}</td>
            <td width="25%">{{data2['gsmDisplayDetails']['displayType']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Size</b></td>
            <td>{{data1['gsmDisplayDetails']['displaySize']}}</td>
            <td>{{data2['gsmDisplayDetails']['displaySize']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Resolution</b></td>
            <td>{{data1['gsmDisplayDetails']['displayResolution']}}</td>
            <td>{{data2['gsmDisplayDetails']['displayResolution']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Protection</b></td>
            <td>{{data1['gsmDisplayDetails']['displayProtection']}}</td>
            <td>{{data2['gsmDisplayDetails']['displayProtection']}}</td>
        </tr>
    </table>
<!--PLATFORM-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>PLATFORM</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>OS</b></td>
            <td width="25%">{{data1['gsmPlatformDetails']['platformOs']}}</td>
            <td width="25%">{{data2['gsmPlatformDetails']['platformOs']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>ChipSet</b></td>
            <td>{{data1['gsmPlatformDetails']['platformChipset']}}</td>
            <td>{{data2['gsmPlatformDetails']['platformChipset']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>CPU</b></td>
            <td>{{data1['gsmPlatformDetails']['platformCpu']}}</td>
            <td>{{data2['gsmPlatformDetails']['platformCpu']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>GPU</b></td>
            <td>{{data1['gsmPlatformDetails']['platformGpu']}}</td>
            <td>{{data2['gsmPlatformDetails']['platformGpu']}}</td>
        </tr>
    </table>
<!--Memory-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>MEMORY</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Card Slot</b></td>
            <td width="25%">{{data1['gsmMemoryDetails']['memoryCardSlot']}}</td>
            <td width="25%">{{data2['gsmMemoryDetails']['memoryCardSlot']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Internal</b></td>
            <td>{{data1['gsmMemoryDetails']['memoryInternal']}}</td>
            <td>{{data2['gsmMemoryDetails']['memoryInternal']}}</td>
        </tr>
    </table>
<!--MAIN CAMERA-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>MAIN CAMERA</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="8.5%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Single/Triple/Quad</b></td>
            <td style="display: none;" id="original-string1">{{maincam1}}</td>
            <td width="25%" id="modified-string1"></td>
            <td style="display: none;" id="original-string2">{{maincam2}}</td>
            <td width="25%" id="modified-string2"></td>

            <script>
                function insertBreaksBeforeSubstring(text, substring) {
                    let index=0;
                    const modifiedString = text.replace(/(\d+ MP)/g, function(match){
                        index++;
                        return `<br><font color="red">CAM${index}:</font>${match}`;
                    });
                    return modifiedString;
                }
                // Get the original string from the HTML
                const originalString1 = document.getElementById('original-string1').innerText;
                const originalString2 = document.getElementById('original-string2').innerText;
                // Call the function and set the modified string in the HTML
                const modifiedString1 = insertBreaksBeforeSubstring(originalString1, ' MP');
                document.getElementById('modified-string1').innerHTML = modifiedString1;
                const modifiedString2 = insertBreaksBeforeSubstring(originalString2, ' MP');
                document.getElementById('modified-string2').innerHTML = modifiedString2;
            </script>

            
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Features</b></td>
            <td>{{data1['gsmMainCameraDetails']['mainCameraFeatures']}}</td>
            <td>{{data2['gsmMainCameraDetails']['mainCameraFeatures']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Video</b></td>
            <td>{{data1['gsmMainCameraDetails']['mainCameraVideo']}}</td>
            <td>{{data2['gsmMainCameraDetails']['mainCameraVideo']}}</td>
        </tr>
    </table>
<!--SELFIE CAMERA-->
    <br>
    <div style="display: flex;">
    <div class="headingcolumn"></div>
    <div class="columnname"><font size="5.9px" color="red"><b>SELFIE CAMERA</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Single</b></td>
            <td width="25%">{{data1['gsmSelfieCameraDetails']['selfieCameraSingle']}}</td>
            <td width="25%">{{data2['gsmSelfieCameraDetails']['selfieCameraSingle']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Features</b></td>
            <td>{{data1['gsmSelfieCameraDetails']['selfieCameraFeatures']}}</td>
            <td>{{data2['gsmSelfieCameraDetails']['selfieCameraFeatures']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Video</b></td>
            <td>{{data1['gsmSelfieCameraDetails']['selfieCameraVideo']}}</td>
            <td>{{data2['gsmSelfieCameraDetails']['selfieCameraVideo']}}</td>
        </tr>
    </table>
<!--SOUND-->
    <br>
    <div style="display: flex;">
    <div class="headingcolumn"></div>
    <div class="columnname"><font size="5.9px" color="red"><b>SOUND</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>LoudSpeaker</b></td>
            <td width="25%">{{data1['gsmSoundDetails']['soundLoudspeaker']}}</td>
            <td width="25%">{{data2['gsmSoundDetails']['soundLoudspeaker']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>3.5mm Jack</b></td>
            <td>{{data1['gsmSoundDetails']['sound35MmJack']}}</td>
            <td>{{data2['gsmSoundDetails']['sound35MmJack']}}</td>
        </tr>
    </table>
<!--COMMS-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>COMMS</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>WLAN</b></td>
            <td width="25%">{{data1['gsmCommunicationsDetails']['communicationsWlan']}}</td>
            <td width="25%">{{data2['gsmCommunicationsDetails']['communicationsWlan']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Bluetooth</b></td>
            <td>{{data1['gsmCommunicationsDetails']['communicationsBluetooth']}}</td>
            <td>{{data2['gsmCommunicationsDetails']['communicationsBluetooth']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Positioning</b></td>
            <td>{{data1['gsmCommunicationsDetails']['communicationsPositioning']}}</td>
            <td>{{data2['gsmCommunicationsDetails']['communicationsPositioning']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>NFC</b></td>
            <td>{{data1['gsmCommunicationsDetails']['communicationsNfc']}}</td>
            <td>{{data2['gsmCommunicationsDetails']['communicationsNfc']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Infrared Port</b></td>
            <td>{{data1['gsmCommunicationsDetails']['communicationsInfraredPort']}}</td>
            <td>{{data2['gsmCommunicationsDetails']['communicationsInfraredPort']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Radio</b></td>
            <td>{{data1['gsmCommunicationsDetails']['communicationsRadio']}}</td>
            <td>{{data2['gsmCommunicationsDetails']['communicationsRadio']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>USB</b></td>
            <td>{{data1['gsmCommunicationsDetails']['communicationsUsb']}}</td>
            <td>{{data2['gsmCommunicationsDetails']['communicationsUsb']}}</td>
        </tr>
    </table>
<!--FEATURES-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>FEATURES</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Feature1</b></td>
            <td width="25%">{{data1['gsmFeaturesDetails']['featuresOther1']}}</td>
            <td width="25%">{{data2['gsmFeaturesDetails']['featuresOther1']}}</td>
        </tr>
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Feature2</b></td>
            <td width="25%">{{data1['gsmFeaturesDetails']['featuresOther2']}}</td>
            <td width="25%">{{data2['gsmFeaturesDetails']['featuresOther2']}}</td>
        </tr>
    </table>
<!--BATTERY-->
    <br>
    <div style="display: flex;">
    <div class="headingcolumn"></div>
    <div class="columnname"><font size="5.9px" color="red"><b>BATTERY</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Type</b></td>
            <td width="25%">{{data1['gsmBatteryDetails']['batteryType']}}</td>
            <td width="25%">{{data2['gsmBatteryDetails']['batteryType']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Charging</b></td>
            <td>{{data1['gsmBatteryDetails']['batteryCharging']}}</td>
            <td>{{data2['gsmBatteryDetails']['batteryCharging']}}</td>
        </tr>
    </table>
<!--MISC-->
    <br>
        <div style="display: flex;">
            <div class="headingcolumn"></div>
            <div class="columnname"><font size="5.9px" color="red"><b>MISC</b></font></div>
        </div>
        <table border="1px" class="compareresult-table">
            <tr>
                <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Colors</b></td>
                <td width="25%">{{data1['gsmMiscDetails']['miscColors']}}</td>
                <td width="25%">{{data2['gsmMiscDetails']['miscColors']}}</td>
            </tr>
            <tr>
                <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Model</b></td>
                <td>{{data1['gsmMiscDetails']['miscModels']}}</td>
                <td>{{data2['gsmMiscDetails']['miscModels']}}</td>
            </tr>
            <tr>
                <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>SAR</b></td>
                <td>{{data1['gsmMiscDetails']['miscSar']}}</td>
                <td>{{data2['gsmMiscDetails']['miscSar']}}</td>
            </tr>
            <tr>
                <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>SAR EU</b></td>
                <td>{{data1['gsmMiscDetails']['miscSarEu']}}</td>
                <td>{{data2['gsmMiscDetails']['miscSarEu']}}</td>
            </tr>
            <tr>
                <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Price</b></td>
                <td>{{data1['gsmMiscDetails']['miscPrice']}}</td>
                <td>{{data2['gsmMiscDetails']['miscPrice']}}</td>
            </tr>
        </table><br><br>

        {% endif %}

</div>
<script src="{{url_for('static',filename='scripts.js')}}"></script>
    
  
</form>
</body>
</html>
